build==1.2.2.post1
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
colorzero==2.0
gpiozero==2.0.1
idna==3.10
packaging==25.0
pillow==10.2.0
pip-review==1.3.0
pip-tools==7.4.1
pyproject_hooks==1.2.0
python-dotenv==1.1.1
requests==2.32.4
spidev==3.6
urllib3==2.5.0
